.input-class {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px;
    border: 1px solid gold;
    margin: 12px;
}

.input-two {
    border: 1px solid black;
    margin: 15px 15px;
    color: aqua;
}